{%extends "layout2.html"%} {%block container%} {%import "_macros.html" as
macros%}
<h1>Alumnos</h1>

<form action="">
  {{macros.datos("nombre", "NOMBRE")}} {{macros.datos("saldo", "SALDO")}}
  {{macros.datos("apellido", "APELLIDO")}}
</form>

<form action="">
  {{macros.camposNuevos(form.nombre)}} {{macros.camposNuevos(form.edad)}}

  <input type="submit" id="btn1" name="btn1" value="Registrar" />
</form>

<h1>Nombre: {{nom}}</h1>
<h2>Apellido: {{ape}}</h2>
<h2>Email: {{email}}</h2>
{%endblock%}
