<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Rayzen 5</th>
          <th>Intel 7</th>
          <th>Rayzen 9</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ta potente tio</td>
          <td>Calidad 4k</td>
          <td>Calida precio Xiaomi</td>
        </tr>
      </tbody>
    </table>

    {%block container%} {%endblock%}
  </body>
</html>
